{% extends 'base.html.twig' %}
{% block body %}

	{% if is_granted("ROLE_USER") %}
		<a class="btn btn-primary" href="/entry/create">Create entry</a>
    {% endif %}

	<hr>
	{% for entry in pagination %}
	<div class="row">
		<div class="col-sm-1">
			<div class="thumbnail">
				<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
			</div>
		</div>
		<div class="col-sm-11">
			<div class="panel panel-default">
				<div class="panel-heading">
					<strong><a href="/user/entries/{{ entry.id }}">{{ entry.author.username }}</a></strong>
					<span class="text-muted">commented {{ entry.createdAt|distance_of_time_in_words(entry.updateAt) }}
					</span>
				</div>
				<div class="panel-body">
					<p><strong>{{ entry.title }}</strong>
					{% if is_granted("ROLE_USER") %}
						<span style="float:right"><a href="/entry/edit/{{entry.id}}" class="glyphicon glyphicon-pencil"></a></span>
					{% endif %}
					</p>

					<p>{{ entry.content }}</p>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

	<div class="navigation">
	    {{ knp_pagination_render(pagination) }}
	</div>	
{% endblock %}