{% extends 'base.html.twig' %}
{% block body %}
	<a class="btn btn-primary" href="/entry/create">Create entry</a>

<div class="count">
    Total entries: {{ pagination.getTotalItemCount }}
</div>

{% for entry in pagination %}
<div class="row">
	<div class="col-sm-1">
		<div class="thumbnail">
			<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
		</div>
	</div>
	<div class="col-sm-11">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>{{ entry.author.username }}</strong>
				<span class="text-muted">commented on {{ entry.createdAt|date('F j, Y, g:i a') }}
				</span>
			</div>
			<div class="panel-body">
				<p><strong>{{ entry.title }}</strong>
				<span style="float:right"><a href="/entry/edit/{{entry.id}}" class="glyphicon glyphicon-pencil"></a></span>
				</p>

				<p>{{ entry.content }}</p>
			</div>
		</div>
	</div>
</div>
{% endfor %}

<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>



<style>
.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}
</style>	
{% endblock %}