<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Twitter-posts</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a class="navbar-form navbar-right" href="{{ path('fos_user_security_logout') }}">
                    Logout
                </a>
            {% else %}
              {{ render(controller('FOSUserBundle:Security:login')) }}
            {% endif %}

        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Twitter-posts!</h1>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      
        <div class="row">
            <div class="col-md-12">
                {% for flash_message in app.session.flashbag.get('notice') %}
                  <div class="alert alert-success"> {{ flash_message }} </div>
                {% endfor %}

                {% for flash_message in app.session.flashbag.get('error') %}
                  <div class="alert alert-danger"> {{ flash_message }} </div>
                {% endfor %}

                {% block body %}{% endblock %}

            </div>
        </div>
      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

    {% block javascripts %}{% endblock %}

  </body>
</html>

