{% extends 'base.html.twig' %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/main.css') }}" />

	<hr>
	{% for tweet in tweets %}

		{% if (is_granted("ROLE_USER") and app.user.getTwitterUsername() != tweet.username
				or not is_granted("ROLE_USER")) 
					and  (tweet.hidden == 1) %}
			<div></div>

		{% elseif (is_granted("ROLE_USER") and app.user.getTwitterUsername() != tweet.username
				or not is_granted("ROLE_USER"))
					and  (tweet.hidden == 0) %}

			<div class="row" id="{{ tweet.id }}_div">
				<div class="col-sm-1">
					<div class="thumbnail">
						<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
					</div>
				</div>
				<div class="col-sm-11">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>{{ tweet.username }}</strong>
							<span class="text-muted">commented {{ tweet.createdAt }}
							</span>
						</div>
						<div class="panel-body">
							<p>{{ tweet.text }}</p>
						</div>
					</div>
				</div>
			</div>

		{% elseif (is_granted("ROLE_USER") and app.user.getTwitterUsername() == tweet.username) 
					and  (tweet.hidden == 1) %}

			<div class="row ShowOrHidden" id="{{ tweet.id }}_div">
				<div class="col-sm-1">
					<div class="thumbnail">
						<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
					</div>
				</div>
				<div class="col-sm-11">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>{{ tweet.username }}</strong>
							<span class="text-muted">commented {{ tweet.createdAt }}
							</span>
						</div>
						<div class="panel-body">
							{% if is_granted("ROLE_USER") and 
									(app.user.getTwitterUsername() == tweet.username) %}
								<p>
								<span style="float:right">
									<a class="Hidden" id="{{ tweet.id }}_a" href="#" OnClick="HideTweet('{{ path('tweet_hide',{'id': tweet.id, 'username' : tweet.username, 'hidden' : 1 }) }}')">Show</a>
								</span>
								</p>
							{% endif %}

							<p>{{ tweet.text }}</p>
						</div>
					</div>
				</div>
			</div>

		{% elseif (is_granted("ROLE_USER") and app.user.getTwitterUsername() == tweet.username) 
					and  (tweet.hidden == 0) %}
			<div class="row" id="{{ tweet.id }}_div">
				<div class="col-sm-1">
					<div class="thumbnail">
						<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
					</div>
				</div>
				<div class="col-sm-11">
					<div class="panel panel-default">
						<div class="panel-heading">
							<strong>{{ tweet.username }}</strong>
							<span class="text-muted">commented {{ tweet.createdAt }}
							</span>
						</div>
						<div class="panel-body">
							{% if is_granted("ROLE_USER") and 
									(app.user.getTwitterUsername() == tweet.username) %}
								<span style="float:right">
									<a class="Shown" id="{{ tweet.id }}_a" href="#" OnClick="HideTweet('{{ path('tweet_hide',{'id': tweet.id, 'username' : tweet.username, 'hidden' : 0 }) }}')">Hide</a>
								</span>
							{% endif %}
							</p>

							<p>{{ tweet.text }}</p>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

{% endblock %}